<footer class="has-adv">
    <div class="cd-container">
        <div class="footer-left">
            <p>&copy; {{date format="YYYY"}} {{@blog.title}}. Proudly published with <a href="https://ghost.org">Ghost</a>.</p>
            <ul>
                {{navigation}}
            </ul>

            <ul class="footer-socials">
                <li><a class="img-replace twitter" href="{{twitter_url}}">{{@blog.twitter}}</a></li>
                <li><a class="img-replace facebook" href="{{facebook_url}}">{{@blog.facebook}}</a></li>
                <li><a class="img-replace rss" href="{{@blog.url}}/rss">RSS</a></li>
            </ul>
        </div>
    </div>
    <!-- footer-bottom -->
</footer>